{
  "example1.jpg": {
    "polygons": [
      [
        [
          169,
          857
        ],
        [
          392,
          861
        ],
        [
          391,
          879
        ],
        [
          169,
          874
        ]
      ],
      [
        [
          399,
          861
        ],
        [
          613,
          865
        ],
        [
          613,
          884
        ],
        [
          399,
          879
        ]
      ],
      [
        [
          621,
          865
        ],
        [
          763,
          868
        ],
        [
          762,
          887
        ],
        [
          621,
          884
        ]
      ],
      [
        [
          771,
          868
        ],
        [
          936,
          871
        ],
        [
          935,
          890
        ],
        [
          771,
          887
        ]
      ]
    ],
    "texts": [
      "JUDGEMENT",
      "INTENTION",
      "RELIED",
      "BODIES"
    ]
  },
  "example2.jpg": {
    "polygons": [
      [
        [
          180,
          652
        ],
        [
          560,
          652
        ],
        [
          560,
          700
        ],
        [
          180,
          700
        ]
      ],
      [
        [
          180,
          709
        ],
        [
          301,
          709
        ],
        [
          301,
          733
        ],
        [
          180,
          733
        ]
      ],
      [
        [
          691,
          193
        ],
        [
          825,
          193
        ],
        [
          825,
          213
        ],
        [
          691,
          213
        ]
      ]
    ],
    "texts": [
      "PIRATE",
      "SAID",
      "38685"
    ]
  }
}